html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
